
*.csv
input/Phil Buys Houses Fast/client deals/.DS_Store
input/Phil Buys Houses Fast/.DS_Store
*.xlsx
input/RiverfrontHB/.DS_Store
input/SBD Housing/.DS_Store
input/Sell Now Wisconsin/.DS_Store
input/Sell Quick Tampa/.DS_Store
input/Simple Cash Offers/.DS_Store
input/Simple Cash Offers/client deals/.DS_Store
input/Simple Quarters/.DS_Store
input/Simple Quarters/client deals/.DS_Store
input/TN HomeBuyers/.DS_Store
input/Rapid Fire Home Buyers/client deals/.DS_Store
input/Rapid Fire Home Buyers/.DS_Store
input/LHB/.DS_Store
input/GG Homes/.DS_Store
input/Cava/.DS_Store
input/Beachworks/.DS_Store
input/Alex Buy Vegas/.DS_Store
input/.DS_Store
output/.DS_Store
.DS_Store
